<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Criar Missões</title>
</head>
<body>

    <div class="SCV">
        <div class="scv-conteudo">
          <div class="scv-titulo"><b>SCV</b></div>
          <div class="logo-eletrorocket"> <img src="img/EletroRocket.png"></div>
        </div>
        <div class="scv-descricao"><b>Sistema de Controle de Voo</b></div>
    </div>

    <div class="sidebar">
      <button type="button" id="btnSidebar">
    </div>
    
    <div class="formularioCriarMissao">
      <table align="center">
        <form>
          <tr> <td> <input type="text" id="nomeMissao"> </td> <td> <input type="date" id="data"> </td> </tr> 
          <tr> <td> <input type="text" id="ObjetivoMissao"> </td> <td> <input type="time" id="hora"> </td> </tr>
          <tr> <td> <input type="text" id="altitudeMaximaPrevistaMissao"> </td> <td> <input type="text" id="localizacao"> </td> </tr>
        </form>
      </div>
    </table>



    <script src="../main.js"></script>
  </body>
    
</body>
</html>