<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylePadraoPaginas.css">
    <title>Criar Missões</title>
</head>
<body>

    <div class="SCV">
        <div class="scv-conteudo">
          <div class="scv-titulo"><b>SCV</b></div>
          <div class="logo-eletrorocket"> <img src="img/EletroRocket.png"></div>
        </div>
        <div class="scv-descricao"><b>Sistema de Controle de Voo</b></div>
    </div>

    <div class="sidebar">
      <button type="button" id="btnSideBar">
    </div>
    
    <div class="formularioCriarMissao">
      <table align="center" width="">
          <form id="cadastroMissao">
              <tr>
                  <td>
                      <input type="text" id="nomeMissao" placeholder="NOME DA MISSÃO" maxlength="54">
                  </td>
                  <td colspan="2">
                      <input type="text" id="altitudeRelacaoNivelMar" maxlength="54" placeholder="ALTITUDE LOCAL DE LANÇAMENTO">
                  </td>
              </tr>
              <tr>
                  <td>
                      <textarea maxlength="530" id="objetivoMissao" placeholder="OBJETIVO DA MISSÃO"></textarea>
                  </td>
                  <td colspan="2">
                  </td>
              </tr>
              <tr>
                  <td>
                      <input type="text" maxlength="54" id="apogeuPrevisto" placeholder="APOGEU PREVISTO (em metros)">
                  </td>
                  <td>
                      <input type="time" id="hora">
                  </td>
                  <td>
                      <input type="date" id="data">
                  </td>
              </tr>

              <div class="btnSalvarFormulario">
                <input type="submit" id="btnSalvarFormulario" value="SALVAR">
             </div>

          </form>
      </table>
  </div>

  <div class="popup-container" id="popupContainer">
    <div class="popup-box">
        <p>TEM CERTEZA DE QUE DESEJA SALVAR?</p>
        <div class="popup-buttons">
            <button class="confirm-button">Salvar</button>
            <button class="cancel-button">Cancelar</button>
        </div>
    </div>
</div>

    <script src="animacoes.js"></script>
    <script src="gerarPopUpsConfirmarAcao.js"></script>
    <script src="validarFormatoDadosCampos.js"></script>
    <script src="capturarDados.js"></script>
    <script src="renderer.js"></script>
    
</body>
</html>