<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylePadraoPaginas.css">
    <link rel="stylesheet" type="text/css" href="styleExecuteMission.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <title>Executar Missão</title>
</head>
<body>
    <style>
        body { margin: 0; }
        canvas { display: block; }
    </style>

    <div class="SCV">
        <div class="scv-conteudo">
          <div class="scv-titulo"><b>SCV</b></div>
          <div class="logo-eletrorocket"> <img src="img/EletroRocket.png"></div>
        </div>
        <div class="scv-descricao"><b>Sistema de Controle de Voo</b></div>
    </div>

    <div class="container">
                <div class="foguete3d">
                    <p>FOGUETE 3D:</p>
                    <br>
                    <p class="FormatacaoDadosVoo">desenho 3d</p>
                </div>
    
                <div class="velocidade">
                    <p>VELOCIDADE:</p>
                    <br>
                    <p class="FormatacaoDadosVoo">0000,00 m/s</p>
                </div>
  
                <div class="altimetro">
                    <p>ALTÍMETRO:</p>
                    <br>
                    <p class="FormatacaoDadosVoo">0000 metros</p>
                </div>

                <div class="giroscopio">
                    <p>GIROSCÓPIO:</p>
                    <br>
                    <p class="FormatacaoDadosVoo">grafico 3d trajetória</p>
                </div>
 
                <div class="pressao">
                    <p>PRESSÃO:</p>
                    <br>
                    <p class="FormatacaoDadosVoo">0000 psi</p>
                </div>
                
                <div class="temperatura">
                    <p>TEMPERATURA:</p>
                    <br>
                    <p class="FormatacaoDadosVoo">000 °C</p>
                </div>
            
                <div class="gps">
                    <p>GPS:</p>
                    <br>
                    <p class="FormatacaoDadosVoo">LATITUDE N:</p>
                    <p class="FormatacaoDadosVoo">LONGITUDE E:</p>
                </div> 
  </div>
  
    <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/build/three.min.js"></script>
    <script src="renderGraficos.js"></script>
    <script src="renderer.js"></script>
  </body>
    
</body>
</html>