<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylePadraoPaginas.css">
    <link rel="stylesheet" type="text/css" href="styleListMission.css">
    <title>Lista de Missões</title>
</head>
<body>

    <div class="SCV">
        <div class="scv-conteudo">
          <div class="scv-titulo"><b>SCV</b></div>
          <div class="logo-eletrorocket"> <img src="img/EletroRocket.png"></div>
        </div>
        <div class="scv-descricao"><b>Sistema de Controle de Voo</b></div>
    </div>

    <div class="sidebar">
      <button type="button" id="btnSideBar">
    </div>

    <div class="resgatarMissoesCadastradas">
      <input type="button" id="btnResgatarMissoesCadastradas" value="BUSCAR">
    </div>

   
    <div class="content-list-missions" id="listMissions">
    </div>  

    <script src="renderer.js"></script>
    <script src="mostrarMissoesCadastradas.js"></script>
</body>
</html>