<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
  />
  <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="stylePadraoPaginas.css">
  <title>Menu Principal</title>
</head>
<body>

  <div class="SCV">
      <div class="scv-conteudo">
        <div class="scv-titulo"><b>SCV</b></div>
        <div class="logo-eletrorocket"> <img src="img/EletroRocket.png"></div>
      </div>
      <div class="scv-descricao"><b>Sistema de Controle de Voo</b></div>
  </div>

  <div class="container">

    <div class="btnSelecionarMissao">
      <input type="button" value="SELECIONAR MISSÃO" id="btnSelecionarMissao">
    </div>

    <div class="btnCriarMissao">
      <input type="button" value="CRIAR MISSÃO" id="btnCriarMissao">
    </div>
  </div>


  <div class="btnConfiguracoes">
    <input type="button" value="CONFIGURAÇÕES">
  </div>

  <div class="btnAjuda">
    <input type="button" value="AJUDA">
  </div>
  
  <script src="renderer.js"></script>

</body>
</html>
