.content-mission {
    border-radius: 15px;
    border: 4px solid black;
    background-color: #8c998c;
    font-family: 'Orbitron';
    font-size: 1.5vw;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    max-width: 60%;
    padding: 20px;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    margin: 0 auto;
    height: 8vh;
}

.content-list-missions {
    padding: 50px;
    justify-content: center;
    align-items: flex-start; 
    height: 100%;
}

.content-mission table {
    width: 100%;
    align-items: center;
    height: 100%;
}
.content-mission table td {
    text-align:justify;
}
