body {
    background-color: rgba(22, 23, 23);
    overflow: hidden;
}


.SCV {
    position: relative;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: -10px;
}

.scv-titulo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    -webkit-text-stroke: 2px grey;
    margin: 0;
    font-size: 112px !important;
    color: transparent;
    margin-top: -10px; 
    margin-bottom: 10px; 
}

.scv-conteudo {
    display: flex;
    align-items: center;
}

.scv-descricao {
    color: #8C998C; 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0;
    font-size: 13pt;
    margin-top: -30px;
}

.logo-eletrorocket {
    margin-left: 10px; 
}

.logo-eletrorocket img {
    width: 100px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}
  
.btnSelecionarMissao,
.btnCriarMissao {
    margin: 0 150px;
}
  
.btnSelecionarMissao input[type="button"],
.btnCriarMissao input[type="button"] {
    border: 6px solid #4700d0;
    background-color: #8c998c;
    color: #000;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    height: 90px;
    width: 400px;
    border-radius: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
  }
  
.btnSelecionarMissao input[type="button"]:hover,
.btnCriarMissao input[type="button"]:hover {
    background-color: #10D834;
    border-color: white;
    color: white;
    text-decoration: underline;
}
  
.btnSelecionarMissao input[type="button"]:hover::after,
.btnCriarMissao input[type="button"]:hover::after {
    content: " ";
    display: block;
    border-bottom: 2px solid #000;
    margin-top: 4px;
    left: 0;
    right: 0;
    bottom: -4px;
}
  
.btnSelecionarMissao input[type="button"]:active,
.btnCriarMissao input[type="button"]:active {
    transform: translateY(2px);
}

.btnConfiguracoes {
    position: absolute;
    bottom: 40px;
    left: 60px;
}
  
.btnAjuda {
    position: absolute;
    bottom: 40px;
    right: 60px;
}

.btnConfiguracoes input[type="button"],
.btnAjuda input[type="button"] {
  border: 4px solid #4700d0; 
  background-color: transparent; 
  color: white;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  height: 60px;
  border-radius: 10px;
  width: 200px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; 
}

.btnConfiguracoes input[type="button"]:hover,
.btnAjuda input[type="button"]:hover {
  background-color: crimson; 
  color: white; 
  text-decoration: underline;
  border-color: white;
}

.btnConfiguracoes input[type="button"]:active,
.btnAjuda input[type="button"]:active {
  transform: translateY(2px); 
}

.sidebar {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#btnSidebar {
    padding: 370px 18px;
    margin-left: 5px;
    margin-top: 130px;
    background-color: #6D6D6D;
    border-color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 6px solid white;
    position: relative;
}

#btnSidebar:hover {
    background-color: crimson; 
}

#btnSidebar::after {
    content: "Voltar ao Menu"; 
    position: absolute; 
    top: 20%; 
    left: calc(100% + 10px); 
    transform: translateY(-50%); 
    background-color: #6D6D6D; 
    color: #fff; 
    padding: 5px; 
    border-radius: 5px; 
    display: none;
}

#btnSidebar:hover::after {
    display: block; 
}

#btnSidebar:active {
    transform: translateY(2px);
}

.formularioCriarMissao {
    background-color: #C1C9C8;
    border: 4px solid white;
    border-radius: 10px;
    width: 100%;
    max-width: 1600px; 
    margin: 0 auto; 
    padding: 20px; 
    box-sizing: border-box; 
    height: 680px;
}

.formularioCriarMissao input[type="text"],
.formularioCriarMissao input[type="date"],
.formularioCriarMissao input[type="time"] {
    width: 700px; 
    padding: 20px; 
    margin: 10px; 
    box-sizing: border-box; 
    margin-left: 30px;
    margin-right: 50px;
}