<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../styles/stylePadraoPaginas.css">
    <link rel="stylesheet" type="text/css" href="styleExecuteMission.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <title>Executar Missão</title>
</head>
<body>
    <div class="buttons">
        <button id="liftOffButton">Lift Off</button>
        <button id="stopButton">Stop</button>
    </div>
    <div class="container">
        <div class="row">
            <div class="tempo">
                <p>TEMPO:</p>
                <p class="FormatacaoDadosVoo">00:00:00</p>
            </div>
            <div class="foguete3d">
                <p>FOGUETE 3D:</p>
                <p class="FormatacaoDadosVoo">desenho 3d</p>
            </div>
        </div>
        <div class="row">
            <div class="velocidade">
                <p>VELOCIDADE:</p>
                <p class="FormatacaoDadosVoo">0000,00 m/s</p>
            </div>
            <div class="altimetro">
                <p>ALTÍMETRO:</p>
                <p class="FormatacaoDadosVoo">0000 metros</p>
            </div>
            <div class="giroscopio">
                <p>GIROSCÓPIO:</p>
                <p class="FormatacaoDadosVoo">gráfico 3d trajetória</p>
            </div>
        </div>
        <div class="row">
            <div class="pressao">
                <p>PRESSÃO:</p>
                <p class="FormatacaoDadosVoo">0000 psi</p>
            </div>
            <div class="temperatura">
                <p>TEMPERATURA:</p>
                <p class="FormatacaoDadosVoo">000 °C</p>
            </div>
            <div class="gps">
                <p>GPS:</p>
                <p class="FormatacaoDadosVoo">LATITUDE N:</p>
                <p class="FormatacaoDadosVoo">LONGITUDE E:</p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/build/three.min.js"></script>
    <script src="../../components/renderer.js"></script>
</body>
</html>
