<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <link rel="stylesheet" type="text/css" href="../../styles/stylePadraoPaginas.css">
    <link rel="stylesheet" type="text/css" href="styleExecuteMission.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <title>Executar Missão</title>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
</head>
<body>
    <div class="buttons">
        <button id="stopButton">Stop</button>
    </div>
    <div class="container">
        <div class="foguete3d">
            <p>FOGUETE 3D - MPU6050</p>
            <div id="rocketChart"></div>
        </div>
        <div class="giroscopio">
            <p>GIROSCÓPIO - MPU6050</p>
            <div id="gyroscopeChart"></div>
        </div>
        <div class="velocidade">
            <p>VELOCIDADE (m/s):</p>
            <div id="velocityChart"></div>
        </div>
        <div class="altimetro">
            <p>ALTITUDE (metros):</p>
            <div id="altitudeChart"></div>
        </div>
        <div class="pressao">
            <p>PRESSÃO (Pa):</p>
            <div id="pressureChart"></div>
        </div>
        <div class="temperatura">
            <p>TEMPERATURA (°C):</p>
            <div id="temperatureChart"></div>
        </div>
        <div class="gps">
            <div id="map"></div>
        </div>
    </div>

    <script>
        const ws = new WebSocket('ws://localhost:3010');

        ws.onopen = () => {
            console.log('Conectado ao servidor WebSocket');
        };

        ws.onerror = (error) => {
            console.error('Erro no WebSocket:', error);
        };

        ws.onclose = () => {
            console.log('Conexão WebSocket fechada');
        };

        var map = L.map('map').setView([51.505, -0.09], 13);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        var markerPosicaoFoguete = L.marker([51.5, -0.09]).addTo(map);
        var circle = L.circle([51.5, -0.09], {
            color: 'blue',
            fillOpacity: 0.1,
            radius: 500
        }).addTo(map);

        circle.bindPopup("Área de lançamento");
        markerPosicaoFoguete.bindPopup("Posição do Foguete");

        let temperatureData = [];
        let velocityData = [];
        let altitudeData = [];
        let pressureData = [];
        let gyroscopeData = { x: [], y: [], z: [] };
        let rocketData = { x: [], y: [], z: [] };
        const MAX_DATA_POINTS = 50;

        const chartOptions = {
            chart: {
                height: 350,
                type: 'line',
                animations: {
                    enabled: true,
                    easing: 'linear',
                    dynamicAnimation: {
                        speed: 1000
                    }
                },
                toolbar: {
                    show: false
                },
                zoom: {
                    enabled: false
                }
            },
            colors: ['#FF0000'],
            stroke: {
                curve: 'smooth'
            },
            markers: {
                size: 0
            },
            xaxis: {
                type: 'datetime',
                labels: {
                    datetimeUTC: false,
                    style: { fontSize: '17px', color: '#242424' }
                }
            },
            yaxis: {
                min: 0,
                labels: {
                    style: { fontSize: '17px', color: '#242424' }
                }
            }
        };

        const chartOptionsGyroscope = {
            ...chartOptions,
            series: [
                { name: "Giro X", data: gyroscopeData.x },
                { name: "Giro Y", data: gyroscopeData.y },
                { name: "Giro Z", data: gyroscopeData.z }
            ]
        };

        const chartOptionsRocket = {
            ...chartOptions,
            series: [
                { name: "Foguete X", data: rocketData.x },
                { name: "Foguete Y", data: rocketData.y },
                { name: "Foguete Z", data: rocketData.z }
            ]
        };

        const gyroscopeChart = new ApexCharts(document.querySelector("#gyroscopeChart"), chartOptionsGyroscope);
        gyroscopeChart.render();

        const rocketChart = new ApexCharts(document.querySelector("#rocketChart"), chartOptionsRocket);
        rocketChart.render();

        const temperatureChart = new ApexCharts(document.querySelector("#temperatureChart"), {
            ...chartOptions,
            series: [{ name: "Temperatura", data: temperatureData }]
        });
        temperatureChart.render();

        const velocityChart = new ApexCharts(document.querySelector("#velocityChart"), {
            ...chartOptions,
            series: [{ name: "Velocidade", data: velocityData }]
        });
        velocityChart.render();

        const altitudeChart = new ApexCharts(document.querySelector("#altitudeChart"), {
            ...chartOptions,
            series: [{ name: "Altitude", data: altitudeData }],
            yaxis: { min: 0, max: 1000 } // Ajuste de escala
        });
        altitudeChart.render();

        const pressureChart = new ApexCharts(document.querySelector("#pressureChart"), {
            ...chartOptions,
            series: [{ name: "Pressão", data: pressureData }]
        });
        pressureChart.render();

        function updateCharts() {
            temperatureChart.updateSeries([{ data: temperatureData }]);
            velocityChart.updateSeries([{ data: velocityData }]);
            altitudeChart.updateSeries([{ data: altitudeData }]);
            pressureChart.updateSeries([{ data: pressureData }]);
            gyroscopeChart.updateSeries([
                { data: gyroscopeData.x },
                { data: gyroscopeData.y },
                { data: gyroscopeData.z }
            ]);
            rocketChart.updateSeries([
                { data: rocketData.x },
                { data: rocketData.y },
                { data: rocketData.z }
            ]);
        }

        ws.onmessage = (event) => {
            const message = JSON.parse(event.data);
            if (message.type === 'data') {
                const { time, gyroX, gyroY, gyroZ, rocketX, rocketY, rocketZ, altitude, GPSspeed, pressao, temperatura } = message.value;
        
                // Atualizando dados do giroscópio
                gyroscopeData.x.push({ x: time, y: gyroX });
                gyroscopeData.y.push({ x: time, y: gyroY });
                gyroscopeData.z.push({ x: time, y: gyroZ });
        
                // Atualizando dados do foguete
                rocketData.x.push({ x: time, y: rocketX });
                rocketData.y.push({ x: time, y: rocketY });
                rocketData.z.push({ x: time, y: rocketZ });
        
                // Atualizando dados de velocidade, pressão, temperatura e altitude
                velocityData.push({ x: time, y: GPSspeed });
                pressureData.push({ x: time, y: pressao });
                temperatureData.push({ x: time, y: temperatura });
                altitudeData.push({ x: time, y: altitude });
        
                // Limitando o número de pontos de dados
                if (gyroscopeData.x.length > MAX_DATA_POINTS) {
                    gyroscopeData.x.shift();
                    gyroscopeData.y.shift();
                    gyroscopeData.z.shift();
                }
                if (rocketData.x.length > MAX_DATA_POINTS) {
                    rocketData.x.shift();
                    rocketData.y.shift();
                    rocketData.z.shift();
                }
                if (velocityData.length > MAX_DATA_POINTS) velocityData.shift();
                if (pressureData.length > MAX_DATA_POINTS) pressureData.shift();
                if (temperatureData.length > MAX_DATA_POINTS) temperatureData.shift();
                if (altitudeData.length > MAX_DATA_POINTS) altitudeData.shift();
        
                // Atualizando todos os gráficos
                updateCharts();
            }
        };
        
    </script>
</body>
</html>
