body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#temperatureChart, #velocityChart, #temperatureChart, #altitudeChart, #pressureChart, #map {
    width: 100%;
    height: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 1vh;
    margin-bottom: 10px;
}

.buttons button {
    background-color: green;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.3em;
    padding: 2vh 6vh;
    cursor: pointer;
    transition: background-color 0.3s;
}

#stopButton {
    background-color: red;
}

.buttons button:hover {
    background-color: darkgreen;
}

#stopButton:hover {
    background-color: darkred;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    padding: 2vh;
    box-sizing: border-box;
    flex-grow: 1;
    padding-bottom: 2vh;
}

.container > div {
    padding-top: 2px;
    background-color: #242424;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
}

.FormatacaoDadosVoo {
    color: white;
    font-size: 2em;
    margin-top: 20px;
}

.container p {
    font-size: 1.5em;
    font-weight: bold;
}

.gps {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

