<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/stylePadraoPaginas.css">
    <title>Ajuda</title>
</head>
<body>

  <div class="logo-eletrorocket"> <img src="img/EletroRocket.png"></div>
  
    <div class="sidebar">
      <button id="btnSideBar"></button>
    </div>

    
    <div id="popupContainerExit" class="popup-container">
      <div class="popup-box">
          <p>Deseja sair sem salvar?</p>
          <div class="popup-buttons">
              <button class="exit-button">Sair</button>
              <button class="cancel-button">Cancelar</button>
          </div>
      </div>
  </div>
  

  <script src="../components/renderer.js"></script>
    
</body>
</html>