<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
  />
  <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../styles/stylePadraoPaginas.css">
  <title>Menu Principal</title>
</head>
<body>

  <div class="logo-eletrorocket"> <img src="../img/EletroRocket.png"></div>

  <div class="container">

    <button class="card btnCriarMissao" id="btnCriarMissao">
      <div class="card-icon">🚀</div>
      <h3>Criar Missão</h3>
      <p>Planeje e inicie uma nova missão para o seu foguete</p>
    </button>

    <button class="card btnSelecionarMissao" id="btnSelecionarMissao">
      <div class="card-icon">🌌</div>
      <h3>Selecionar Missão</h3>
      <p>Escolha, gerencie e execute as missões existentes</p>
    </button>

  </div>

  <div class="btnConfiguracoes">
    <input type="button" value="CONFIGURAÇÕES">
  </div>

  <div class="btnAjuda">
    <input type="button" value="AJUDA">
  </div>
  
  <script src="../components/renderer.js"></script>

</body>
</html>
