body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(22, 23, 23, 1);
    margin: 0;
    padding: 0;
    color: #fff;
    overflow: hidden;
}

.logo-eletrorocket {
    position: absolute;
    left: 1vw;
}

.logo-eletrorocket img {
    width: 30vh; 
}

.formularioCriarMissao {
    background-color: rgb(32, 32, 32);
    border: 1px solid #868686;
    border-radius: 15px;
    width: 90%;
    max-width: 1000px;
    margin: 4.5% auto;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cadastroMissao {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 25px;
}

input[type="text"],
input[type="time"],
input[type="date"],
textarea {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 22px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: #ebebeb;
}

textarea {
    resize: none;
    height: 150px;
}

input::placeholder,
textarea::placeholder {
    font-size: 22px;
    color: #a1a1a1;
}

.center-button {
    text-align: center;
}

#btnSalvarFormulario {
    background-color: #4CAF50;
    color: white;
    padding: 15px 70px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 26px;
    transition: background-color 0.3s ease;
}

#btnSalvarFormulario:hover {
    background-color: #45a049;
}

#popupContainerExit, #popupContainer {
    display: none;
}

.popup-container {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1000; 
}

.popup-box {
    background-color: #1e1e1e; 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 40px;
    text-align: center;
    width: 90%;
    max-width: 500px;
    color: #fff; 
}

.popup-box p {
    font-size: 1.2em; 
    margin-bottom: 20px;
}

.popup-buttons {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
}

.confirm-button, .cancel-button, .exit-button {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1em; 
    transition: background-color 0.3s ease;
}

.popup-buttons button:hover {
    background-color: #45a049; 
}

.popup-buttons .cancel-button {
    background-color: #f44336; 
}

.popup-buttons .cancel-button:hover {
    background-color: #e53935; 
}

.popup-buttons .confirm-button, .popup-buttons .exit-button {
    background-color: #45a049; 
}

.popup-buttons .confirm-button:hover, .popup-buttons .exit-button:hover {
    background-color: #45a049; 
}

@media (max-width: 600px) {
    .popup-box {
        padding: 20px;
        width: 90%;
    }

    .popup-box p {
        font-size: 1em;
    }

    .popup-buttons button {
        padding: 8px 16px;
        font-size: 0.9em;
    }
}


input[type="text"],
input[type="time"],
input[type="date"],
textarea {
    padding: 12px;
    font-size: 16px;
}

input[type="submit"] {
    padding: 12px;
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px); 
    gap: 20px;
}

.card {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 350px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    text-align: center; 
}

.card h3 {
    color: #fff;
    margin: 20px 0 10px;
    font-size: 24px;
}

.card p {
    color: #ccc;
    text-align: center;
    font-size: 16px;
}

.card:hover {
    background-color: #292929;
    transform: scale(1.05);
}

.card-icon {
    font-size: 50px;
    margin-bottom: 20px;
    color: #fff;
}

.btnConfiguracoes,
.btnAjuda {
    position: absolute;
    bottom: 40px;
}

.btnConfiguracoes {
    left: 60px;
}

.btnAjuda {
    right: 60px;
}

.btnConfiguracoes input[type="button"],
.btnAjuda input[type="button"] {
    border: 2px solid #4700d0;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    font-size: 2vh;
    padding: 4%;
    height: 5vh;
    width: 20vh;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btnConfiguracoes input[type="button"]:hover,
.btnAjuda input[type="button"]:hover {
    background-color: crimson;
    color: white;
    border-color: white;
}

.btnConfiguracoes input[type="button"]:active,
.btnAjuda input[type="button"]:active {
    transform: translateY(2px);
}

.sidebar {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#btnSideBar {
    padding: 30vh 11px;
    background-color: #6D6D6D;
    border: none;
    cursor: pointer;
    font-size: 2vh;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 6px solid white;
    position: relative;
    transition: background-color 0.3s ease;
    margin-left: 2.5vh;
}

#btnSideBar:hover {
    background-color: crimson;
}

#btnSideBar::after {
    content: "Voltar ao Menu";
    position: absolute;
    top: 50%;
    left: calc(100% + 10px);
    transform: translateY(-50%);
    background-color: #6D6D6D;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    display: none;
}

#btnSideBar:hover::after {
    display: block;
}

#btnSideBar:active {
    transform: translateY(2px);
}
