<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../styles/stylePadraoPaginas.css">
    <link rel="stylesheet" type="text/css" href="styleListMission.css">
    <title>Lista de Missões</title>
</head>
<body>

    <div class="sidebar">
        <button type="button" id="btnSideBar"></button>
    </div>

    <div class="resgatarMissoesCadastradas">
        <input type="button" id="btnResgatarMissoesCadastradas" value="BUSCAR">
    </div>

    <div class="legend-container">
        <div class="legend-item red">
            <div></div>
            <span>Missão disponível para execução</span>
        </div>
        <div class="legend-item green">
            <div></div>
            <span>Missão Executada</span>
        </div>
    </div>

    <div class="content-list-missions" id="listMissions"></div>
    
    <div id="popupContainerExit" class="popup-container">
        <div class="popup-box">
            <p>Deseja voltar ao Menu Principal?</p>
            <div class="popup-buttons">
                <button class="exit-button">Sair</button>
                <button class="cancel-button">Cancelar</button>
            </div>
        </div>
    </div>

    <div class="popup-container" id="popupContainerOpenLaunchPanel">
        <div class="popup-box">
            <p>Abrir Painel de lançamento e executar missão?</p>
            <div class="popup-buttons">
                <button class="confirm-button" id="btnConfirmOpenLaunchPanel">Abrir Painel de Lançamento</button>
                <button class="cancel-button" id="btnCancelOpenLaunchPanel">Cancelar</button>
            </div>
        </div>
    </div>
    

    <script type="module" src="../../components/renderer.js"></script>
    <script type="module" src="mostrarMissoesCadastradas.js"></script>
</body>
</html>
